@import "../../const";

.services-wrapper{
  .title-page-block__title{
    font-size: $h1_reviews_title_size;
    padding: 110px 0px 110px ;
  }

  ul.services-titles-block{
    list-style-type:none;
    display:flex;
    justify-content: center;
    border-top: $border;
    border-bottom: $border;
    padding: 70px 0px;
  }

  li.services-title-item{
    display: list-item;
    padding: 0px 40px;
  }

  li.services-title-item:last-child{
    border-right: none;
  }
  a.services-title-item__link {
    color: $gallery_title_color;
    text-transform: uppercase;
    font-size:$gallery_title_size;
  }

  .services-content{
    margin-top: 160px;
  }


}

.services-content{
  text-align: center;
}

@media (min-width: 1490px) {
  .container-custom {
    max-width: 1430px;
  }
}

 .service-item p{
  font-size: 24px;
}