$main-container-size: 1880px;
$menu_text_color: #878484;
$main_text_color: #4d4f50;
$footer_text_color: #fffff;
$bgcolor:#fffff;
$base_text_size:14px;
$base_font: FuturaLT-Light, sans-serif;

$h1color:#000;
$h1font-size:41px;


