@import "const";
.main-section{
  padding: 140px 0px 95px ;
}

h1{
  color: #000;
  font-size: 41px;
  text-align: center;
  padding-bottom: 90px;
  font-family: $base_font;
}

.main-text{
  text-align: center;
}


