@import 'const';
@import 'fonts';
@import 'navigation';
@import "main-background";
@import "home-main-section";
@import "footer";
@import "header-light";
@import "templates/contact/_contact.scss";
@import "media_max_991";
@import "media_max767";
body{
  background-color: $bgcolor;
  font-family: $base_font;
  margin-top:0rem;
}

.spacer-block{
  height:80px;
}
.form-group{
  margin-bottom: 0rem;
}





