@media (max-width: 767px) {
nav{

      height: auto;
    .show{
      background: #ffffff;
    }

    li{
          padding: 0px;
    }
    .logo-block{
      margin-top: 20px;
    }
    .logo-block__img{
      width:50%;
    }
  }
.main-background{
  display: none;
}



}