@import 'const';
nav{
  height:80px;
  .logo{
    margin-top:19px;
  }
  ul{
    list-style-type: none;
    font-family: Arial, sans-serif;
    color: $menu_text_color;
  }
  ul.nav-block {
    padding-left: 15px;
  }

  li{
    float: left;
    display: inline-block;
    font-size: $base_text_size;
    text-transform: uppercase;
    padding: 35px 28px;
  }
  .logo{
    margin-left: 37px;
  }
}

